@import url('https://fonts.googleapis.com/css2?family=Montserrat');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    
}

.flexbox{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.flexbox-row{
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: rgb(230, 235, 240);
    cursor: default;
}

.col{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

span{
    color: rgba(66, 106, 226, 1);
    cursor: pointer;
    font-size: 1.2rem;
}

.btn {
    margin: 0 3px;
    padding: 0.25% 0.5%;
    color: rgba(66, 106, 226, 1);
    border: 2px solid rgba(66, 106, 226, 1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1.2rem;
    transition: all 0.3s ease 0s;
}

.btn:hover{
    background-color: rgba(66, 106, 226, 0.7);
}

.btn:focus{
    outline: none;
    box-shadow: none;
}

.barsContainer{
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 550px;
    justify-content: center;
    transition: 2s all ease;

}

.flex-item{
    background: rgb(0, 255, 255);
    border: 1px solid black;
    width: 10px;
    transition: 0.3s all ease;
}

.newArray{
    margin: 0 10px;
}